@namespace MudBlazor
@typeparam T
@inherits MudComponentBase
@attribute [CascadingTypeParameter(nameof(T))]

@{
    UserAttributes.TryAdd("role", "group");
}

<div @attributes="UserAttributes" class="@Classname" style="@Style" >
    <CascadingValue IsFixed="true" Value="this">
        @ChildContent
    </CascadingValue>
</div>
